page-home {
  color: white;

  video {
    position: absolute;
    z-index: -5;
  }

  ion-grid  {
    height: 100vh;
    justify-content: center;

    .button-large-md {
      height: 3.25em;
    }
  }

  .rouletteIntroOverlay {
    background-color: rgba(0,0,0,0.75);
    height: 100vh;

    h1 {
      font-size: 3em;
      color: white;
    }
    h1:nth-of-type(even) {
      color: #cdcdcd;
    }
  }

  #serialCodes {
    text-align: center;
    a {
      font-size: 4.5em;
    }
    h1 {
      font-size: 3.5em;
    }
  }
}
